<!--Griglia alternata testo e immagine, resposive con flexbox.-->
<section>
    <div class="grid-flex">
        <div class="col col-image"
            style="background-image: url(https://image.lexica.art/full_jpg/07dc53df-2e26-4c2d-8aa1-681407f497d4);">
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <p style="font-size: 35px; font-weight: bolder;" > CUMPLEAÑOS
                </p>
                <p>&ldquo;Ingresar informacion.&rdquo;
                    <cite>- PERRUNCAY</cite>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image"
            style="background-image: url(https://image.lexica.art/full_jpg/ab4d4c96-3d9e-4b37-9be9-ec951baf8e1c);">
            &nbsp;
        </div>
        <div class="col col-text col-left">
            <div class="Aligner-item">
                <p style="font-size: 35px; font-weight: bolder;" > BODAS
                </p>
                <p>&ldquo;Ingresar informacion.&rdquo;
                    <cite>- PERRUNCAY</cite>
                </p>
            </div>
        </div>
    </div>

    <div class="grid-flex">
        <div class="col col-image"
            style="background-image: url(https://image.lexica.art/full_jpg/06af89f8-631f-45e2-b959-22b447287bdc);">
            &nbsp;
        </div>
        <div class="col col-text">
            <div class="Aligner-item">
                <p style="font-size: 35px; font-weight: bolder;" > GRADUACIONES
                </p>
                <p>&ldquo;Ingresar informacion.&rdquo;
                    <cite>- PERRUNCAY</cite>
                </p>
            </div>
        </div>
    </div>

</section>