<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Logeo para el Salon de Eventos </title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>


  <img class="imglogo" src="assets/img/png.png" style="align-items: center;" width="15%">
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="assets/img/silla3.jpg" alt="">

      </div>
      <div class="back">
        <!--<img class="backImg" src="images/backImg.jpg" alt="">-->
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login - Salon de Eventos</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Ingresa tu Correo" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Ingresa tu contraseña" required>
              </div>
              <div class="text"><a href="#">¿Olvidaste tu contraseña?</a></div>
              <div class="button input-box">
                <input type="submit" value="Iniciar Sesion">
              </div>
              <div class="text sign-up-text">No tienes una cuenta? <label for="flip">Registrate</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Crear cuenta en "Nomeacuerdoelnombre"</div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Ingresa tu nombre de usuario" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Ingresa una contraseña" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Verifica tu contraseña" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Registrate">
              </div>
              <div class="text sign-up-text">¿Ya tienes una cuenta? <label for="flip">Inicia Sesion</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</body>
</html>