<!-- CAROUSEL -->
<section class="carouselSection">
    <div class="bodyCarusel">
        <div id="carousel-HomeJumbotron" class="carousel slide carousel-fade" data-bs-ride="carousel"
            data-bs-interval="5000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="0" class="active"
                    aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
                <button type="button" data-bs-target="#carousel-HomeJumbotron" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item slide-one-image active" role="img" aria-label="adorable photo of a squirrel">
                    <div class="carousel-item-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slide-two-image" role="img" aria-label="photo of the woods">
                    <div class="carousel-item-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slide-three-image" role="img" aria-label="photo of a pond">
                    <div class="carousel-item-bg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-HomeJumbotron"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-HomeJumbotron"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- CAROUSEL -->
