<!DOCTYPE html>
<html>

<!-- <head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head> -->

<body>
    <div class="container">

        <!-- <app-headers></app-headers> -->
        <div class="row">
            <div class="col-1">
                <h2>Banner Para<br>Salon de Eventos</h2>
                <h3>Recepciones, cotizaciones para eventos</h3>
                <p>Cumpleaños, Bautizos</p>
                <button type="button">Ver mas <img src="assets/img/arrow.png"></button>
            </div>
            <div class="col-2">
                <img src="assets/img/copas.png" class="banner">
                <div class="color-box"></div>
            </div>
        </div>
    </div>
    <div class="div-flip">
        <div class="flip">
            <div class="content">
                <div class="front">
                    <h2>RESERVAS</h2>
                    <p>Ingresar Informacion</p>
                </div>
                <div class="back">
                    <h2>COTIZACIONES</h2>
                    <p>Ingresar Informacion</p>
                </div>
            </div>
        </div>
    </div>
    <app-slider></app-slider>
    <div>
        <h1>MAS INFORMACION</h1>
    </div>
    <section class="layout">
        <div class="div1">
            <div class="card">
                <div class="card-content">
                    <p class="card-title">MAS INFORMACION
                    </p>
                    <p class="card-para">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="div2">
            <div class="card">
                <div class="card-content">
                    <p class="card-title">MAS INFORMACION
                    </p>
                    <p class="card-para">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="div3">
            <div class="card">
                <div class="card-content">
                    <p class="card-title">MAS INFORMACION
                    </p>
                    <p class="card-para">Lorem ipsum dolor sit
                        amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="layout2">
        <div class="direccion2">
            <div class="col-4">
                <h2>Ubicanos</h2>
                <h3>Primera Entrada<br>JOSE MARIA ORTEGA - PEDRO LOPEZ DE ARGUDO</h3>
                <h3><br>Segunda Entrada<br>MANUEL TENORIO LAZO</h3>

            </div>
        </div>
        <div class=direccion>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3984.7770135720775!2d-79.0137482852433!3d-2.880569597901834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMsKwNTInNTAuMSJTIDc5wrAwMCc0MS42Ilc!5e0!3m2!1ses!2sec!4v1687016743604!5m2!1ses!2sec"
                width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- <app-footer></app-footer> -->
</body>

</html>